<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hotel Endpoint API</h2>
    <p>Hotel: <a href="/api/v1/hotels">Link</a></p>
    <p>User: <a href="/api/v1/users">Link</a></p>
    <p>Booking: <a href="/api/v1/booking">Link</a></p>
    <p>Room: <a href="/api/v1/room">Link</a></p>
    <p>Reviews: <a href="/api/v1/reviews">Link</a></p>
    <p>Payment: <a href="/api/v1/payment">Link</a></p>
</body>
</html>